body {
    font-family: 'Open Sans', Verdana, sans-serif;
    background-color: black;
    width: 900px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #085331;
}

h1 {
    color: #01150c;
}

section {
    background-color: #86d5f1;
    color: #333333;
    border-bottom: 2vh;
    padding: 5px 20px;
    border-radius: 2vh;
    margin-top: 10px;
}

header {
    background-color: #719e45;
    color: #222222;
    border-bottom: 5px;
    padding: 5px 20px;
    border-radius: 2vh;
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 5px 20px;
}

footer h2 {
    color: white;
}

.links a {
    color: rgba(46, 54, 116, 0.84);
    display: block;
    padding: 3px 8px;
}

.links a:hover {
    background-color: black;
    color: white;
    border-radius: 1vh;
    padding: 3px 8px;
    width: fit-content;
}